<div id="login" class="public-view">
	<div class="container">
		<div class="row">
			<div class="login-form col-md-4 col-md-offset-4">
				<div class="row">
					<div class="col-xs-10">
						<h1>Inicio de sesión</h1>
					</div>
				</div>
				<form name="form" ng-submit="iniciarSesion()" class="clearfix">
					<div class="row">
						<div class="col-md-12">
							<p>
								<input class="form-control" name="correo" ng-model="correo" type="text" placeholder="Correo electronico" >
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<p>
								<input class="form-control" name="password" ng-model="pass" type="password" placeholder="Contraseña">
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-green btn-block">Ingresar</button>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6">
							<a href="#/public/restore_password">
								<h5>¿Olvidó su contraseña?</h5>
							</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
